.button {
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.button-review {
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  background-color: transparent;
}

.button {
  width: 150px;
  padding-top: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: #F95959;
}
