.card {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3)
  }
}

.card-img {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}


.card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.container-margin {
  margin-left: 300px;
  margin-right: 300px;
}

#card-add-review {
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
