.show-img {
  height: 500px;
  width: 800px;
  border-radius: 5px;
}

.host-img {
  width: 70px;
  border-radius: 50%;
}


.container {
  .img-new {
    margin: 40px;

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .form-section {
      position: relative;
      z-index: 1;
      margin-top: 50px; /* Adjust the top margin as needed */
      margin-bottom: 30px; /* Adjust the bottom margin as needed */
      background-color: white;
      padding: 20px;
    }

    .col-md-6 {
      width: 50%;
      padding: 100px; /* Adjust the padding as needed */
    }

    .img-card {
      width: 25%;
      padding: 10px;
    }

    .img-card img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
}
