<div class="container">


<h1>Review</h1>

<%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.submit "Create Review" %>
<% end %>
</div>